.table {
  margin: 30px 30px 0px 0px;
  /* padding: 30px; */
  background-color: white;
  /* padding: 50px 100px 0px 100px; */
  /* justify-content: center;
  display: flex;
  align-items: center; */
  border-radius: 15px;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  height: 1.1vh;
}
