/* row & col initialization -----------------------*/
.row {
    display: flex;
    width: 100%;
}

.row::after  {
    display: block;
    clear: both;
    content: "";
}

/* 12 columns */
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {
    width: 100%;
}

/*Button------------------------------------------*/
.RButton{
    margin-left: 5px;
}



/* container -------------------------------------*/
.reserve_background {
    background-color: #f1f1f1;
    padding: 50px 50px 80px 50px;
}

.reserve_container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
    width: 1200px;
    position: relative;
    margin: auto;
}

.reserve_img {
    padding: 70px 70px 50px 70px;
}

.reserveimg {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
}

.reserve_userinfo {
    padding: 115px 0 0 0;
    line-height: 2.5rem;
}

.reserve_contact {
    padding-left: 100px;
    padding-top: 30px;
    line-height: 3rem;
}

.reserve_service {
/*    padding-left: 70px;*/
    line-height: 3rem;
}

.reserve_button {
    text-align: right;
    padding: 50px 50px 50px 0;
}

/* label ----------------------------------------*/
.namelabel {
    font-size: 32px;
    font-weight: bold;
}

.greylabel {
    font-size: 18px;
    font-weight: 500;
    color: #8e8e8e;
}

.datalabel {
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
}

/* button ----------------------------------------*/
.reserve_button button {
    border: none;
    outline: none;
    background-color: #bd6a43;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 30px;
}