table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table th {
  font-size: 20px;
}

table td,
table th {
  /* border: 10px solid #ddd; */
  padding: 8px 0px 8px 0px;
  text-align: center;
}

button {
  margin-left: 10px;
  margin-bottom: 7px;
}
.normal_line {
  background-color: #c6c6c6;
  border-color: white;
  margin-top: 18px;
  margin-bottom: 1px;
}

.ban_line {
  margin-top: 7px;
  background-color: #c6c6c6;
  border-color: white;
}
