.DONE {
    background-color: rgb(139, 194, 57);
}

.WAITING {
    background-color: orange;
}

.CANCELLED {
    background-color: rgb(253, 66, 32);
}


.Cardd > .card-deck {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.Cardd > .card-deck > .card {
 flex: none;
 margin-top: 30px;
 margin-left: 10px;
}