.test {
    background-color: #F1F1F1;
    height: 100vh;
  
}
.test h1 {
    text-align: center;
}
.DONE {
    background-color: #BFFF36;
}

.WAITING {
    background-color: #FFDF36;
}

.CANCELLED {
    background-color: #FF4236;
}

.ACCEPTED {
    background-color: rgb(145, 152, 255);
}
.test .card {
    border-radius: 15px;
}

.test .cardtitle {
    background-color:#872935;
    border-radius: 15px 15px 0px 0px;
    border-color: #872935;
    padding: 15px;
    color: white;
    
}
.test #cardtitle #delete {
    font-weight: bold;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.test #cardtitle #delete:hover {
    color: white;
}
.test .modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}
.test .cardtitle .modal-header {
    text-align: center;
    border: none;
   
}
.test .power {
    margin: 15px 0px 20px 0px;
}
.test .Pname {
    color: #363636;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.test .Cname {
    color: #363636;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.test .Service {
    color: #363636;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.test .date {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.test .Amount {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.test .pett {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.test .cardtitle .modal-header span {
    color: white;
}
.test .Cardd .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.test .Cardd {
    max-height: 650px;
    min-width: none;
    background-color: #F1F1F1;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.test .Cardd > .card-deck > .card {
 flex: none;
 margin: 30px auto;
}
.test .cardstatus {
    align-items: center;
    margin-left: 2px;
}

.test .watingbutton{
    display: flex;
    margin: auto;
}
.test .watingcanbutton {
    margin-left: 90px;
}

.test .acceptedbutton {
    margin-left: 140px;
}
.cardstatus .row {
    margin: auto;
}