.register_header {
    background-color: #FFFCFB;
    border-radius: 8px 8px 0px 0px;
    height: 150px;
    border: 1px solid #DAD9D9;
}

.register_header > p {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}