/* row & col initialization -----------------------*/
.row {
    display: flex;
    width: 100%;
}

.row::after  {
    display: block;
    clear: both;
    content: "";
}

/* 12 columns */
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

* {
    box-sizing: border-box;
}

.registercol {
    float: left;
    padding: 15px;
    text-align: left;
}

.register_info {
    padding: 15px 20px;
    display: flex;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    height: fit-content;
    top: 0;
/*    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);*/
}

.registerinfo {
    width: 100%;
}

/* label & input -----------------------------------*/
.registerinfo label {
    color: #8e8e8e;
    line-height: 2rem;
    font-weight: bold;
}

input.texting {
    border: 1px solid #b5b3b3b3;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    width: 80%;
    overflow: visible;
    
}

/* radiobutton */
.radio {
    border: 1px solid #b5b3b3b3;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px;
    width: 30%;
    height: fit-content;
}
#radioo {
    margin-top: 20px;
    padding: 0px;
}
.savechange {
    border: none;
    outline: none;
    background-color: #8e8e8e;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 35px;
}

.savechange:hover{
    border: none;
    outline: none;
    background-color: #BD6A43;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 35px;
}