.notification-item {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
}

.notification-item-detail {
  margin-left: 0.7rem;
}

.Notification_Dropdown {
  max-height: 50vh;
  /*width: */
  overflow-y: scroll;
}

/* .notification-item-detail h */

#my_noti button {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
  border: none;
}
#my_noti button:focus {
  box-shadow: none;
}

#my_noti .MuiBadge-badge {
  background-color: rgba(255, 0, 0, 0.8);
}
