.petcard {
        width: 100%;
        border: none;
        max-height: 170px;
        overflow: auto;
        scroll-behavior: smooth;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #F3F0ED;
        border-radius: 4px;
}
