.pet {
    display: flex;
    align-items: center;
    margin: 70px;
    font-weight: bold;
    border-bottom: 1px solid hsl(216, 8%, 88%);
    padding: 10px;
    width: 576px;
    margin: 20px auto;
    background-color: #ffffff;
}

.Pet__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    
}

.Pet__edit {
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #872935;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 7px 35px;
}
.Pet__delete {
    padding: 2px;
    cursor: pointer;
    margin-left: 200px;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    padding: 7px 10px;
}

.Pet__delete:hover {
    background-color: red;
}