.userInfo {
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
    width: 708px;
    position: relative;
    margin-left: 60px;
    margin-right: 70px;
    
}

.expand {
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
    width: 1200px;
    height: 759px;
    position: relative;
    margin-left: 60px;
    margin-right: 70px;
}

.nextbutton {
    height: 100px;
    display: flex;
    float: right;
    padding: 30px;
}

.nextbutton button {
    border: none;
    outline: none;
    background-color: #bd6a43;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 7px 35px;
}