table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table th {
  font-size: 20px;
  text-align: center;
  /* margin-left: 50px; */
  /* padding-left: 100px; */
  /* padding: 13px 10px 13px 10px; */
}
table td {
  font-size: 13px;
  padding: 8px 0px 8px 0px;
  text-align: center;
}

/* .normal_line {
  background-color: #c6c6c6;
  border-color: white;
  margin-top: 18px;
  margin-bottom: 1px;
} */

/* .ban_line {
  margin-top: 10px;
  background-color: #c6c6c6;
  border-color: white;
} */
