.cancelbutton > .btn {
    background-color: gray;
    border: none;
    margin: auto;
    margin-left: 50px;
}
.cancelbutton > .btn:hover {
    background-color: #DA3535;
}

.acceptbutton > .btn {
    background-color: gray;
    margin-left: 30px;
    border: none;
}

.acceptbutton > .btn:hover {
    background-color: #007bff;
    border: none;
}

.receivebutton > .btn {
    background-color: gray;
    border: none;
    margin: auto;
}

.receivebutton > .btn:hover {
    background-color: #87BD43;
    border: none;
}