.profile, .userinfo, .jobinfo, .next {
    background-color: white;
}

.profile {
    text-align: center;
    margin: auto;
    border-radius: 8px;
    padding: 12% 7%;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.2);
    width: 342px;
    height: 481px;
    align-items: center;
}

.profile h3 {
    display: contents;
    text-align: center;
}

.inputformat {
    margin-top: 25px;
}

label {
    color: #8e8e8e;
    line-height: 2rem;
    font-weight: bold;
}

.profile label {
    font-size: 11px;
    line-height: 1.5rem;
}

.blacklabel {
    color: black;
}

.profile img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 30px 15px 13px 15px;
}

.profile input {
    display: none;
}

.inputfile {
    cursor: pointer;
    background-color: #872935;
    color: white;
    border-radius: 3px;
    padding: 7px 25px;
}