

.picture > img {
    width: 100px;
    border-radius: 50%;
}

.picture {
    display: flex;
    align-items: center;
    margin: 40px 210px;
}

#uploadpic {
    cursor: pointer;
    background-color: #872935;
    color: white;
    border-radius: 3px;
    padding: 7px 25px;
    height: 30px;
    margin-left: 30px;
    font-weight: bold;
    
}

#uploadpic > input {
    display: none;
}

.pettype > .row {
    margin-left: 150px;
    font-weight: bold;
}

.pettype > label {
    color: #8E8E8E;
    font-weight: bold;
}

.pet__info {
    margin-left: 10px;
}