.my-card {
  margin: 2em 0em;
}
.my-card .card {
  border-radius: 1rem;
  min-width: 200px;
}
.my-card .card .card-header {
  color: #fff;
  background-color: #872935;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.my-card .card-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
.my-card .btn-danger {
  width: 120px;
  background-color: #872935;
  font-size: smaller;
}
.my-card form input {
  margin: 0px;
}
.my-card form .form-check {
  margin: 0px 5px;
  height: calc(1.5em + 0.75rem + 4px);
  /*padding: 5.1px 2px;calc(1.5em + .75rem + 2px)*/
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.my-card form input:focus-visible,
.my-card form .form-check:focus-within {
  border-color: rgba(189, 86, 67, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(189, 86, 67, 0.6);
  outline: 0 none;
}
.my-card form input[type="radio"] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #aaaaaa;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0px gray inset;
  align-items: center;
}
.my-card form input[type="radio"]:focus-visible {
  box-shadow: 0 0 5px 0px orange;
}
.my-card form input[type="radio"]::before {
  content: "";
  display: block;
  margin: 10% auto;
  width: 75%;
  height: 75%;
  border-radius: 50%;
}
.my-card form input[type="radio"]:checked::before,
.my-card form input[checked="checked"]::before {
  background: #872935;
}
.my-card form label {
  margin-left: 0px;
  color: #662900;
  font-weight: bold;
  font-size: smaller;
}
